<div class="page-wrapper gv-page-width">
  <div class="header-wrapper">
    <div class="gren-floors">
      {{#each floorsArr}}
      <div class="gren-floor floor-{{{floorNum}}}" style="width: calc(100% - {{{widthShim}}}px);" floor-ref="{{{floorNum}}}">
      </div>
      {{/each}}
    </div>
    <div class="gren-header-txt">
      <h1 class="ghost-h1">The lives of Grenfell Tower</h1>
      <div class="gren-headline show-mobile" id="mobileHeadEl"></div>
      <div class="gren-headline show-desktop"></div>
      <div class="gren-standy" id="grenStandy">
        Portraits of all 71 people who died in Grenfell tower, based on exclusive, moving testimony from family and friends.
      </div>
    </div>
    <div class="header-share-container gv-desktop-show">
      <button class="interactive-share" data-network="facebook" data-shareurl="{{shareurl}}"></button>
      <button class="interactive-share" data-network="twitter" data-shareurl="{{shareurl}}"></button>
      <button class="interactive-share" data-network="email" data-shareurl="{{shareurl}}"></button>
    </div>
  </div>


  <div class="gren-list-wrapper gv-page-width">
    {{#each shortData}}

    <div class='gren-itemwrapper' data-floor="{{floorStr}}" >

    <div class="gren-list-item gv-main-column list-item-short" key-ref="{{@key}}" data-name="{{name}}">

      <div class="gv-inner-block">
        <hr></hr>
        <button class='gren-collapse-button'><div class="gren-collapse-icon"></div></button>
        <div class="gren-list-name list-item-short-name" key-ref="{{@key}}">{{{name}}}</div>
        <div class="gren-list-biog short-biog" key-ref="{{@key}}">
          <div class="short-biog-insert">{{{shortBio}}}</div>
            <div class="short-bio-expand">
              <div class="short-bio-expand-btn" key-ref="{{@key}}">
                <div class="short-bio-plus"></div>
              </div>
              <p class="short-bio-copy">Full extract</p>
            </div>


          <div class="gren-long-biog-wrapper">

            <div class="gren-list-biog long-biog" key-ref="{{@key}}">
              <div class="biog-meta">
                <div class="biog-age">{{{Age}}} years old</div>
                <div class="biog-nationality">{{{Nationality}}}</div>
              </div>
              <div class="biog-pic"><img src="{{{grid_photo}}}" /></div>
              <div class='gren-longbio'>{{{bio}}}</div>
              <div class="biog-credit">{{{Credit}}}</div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
    {{/each}}
  </div>

  <div class='gren-chart-container gv-page width'>

    <div class="section-header"><h2>All lives of Grenfell</h2></div>

    <svg class='gren-chart'></svg>

    <div class='gren-buttons'>
      <div class='gren-button' data-id='0'>Age</div>
      <div class='gren-button' id='gren-button--1' data-id='1'>Nationality</div>
      <div class='gren-button gren-button--selected' id='gren-button--2'data-id='2'>Floor</div>
    </div>

  </div>


  <div class="gren-list-wrapper gv-page-width">
    <div class="gren-endpiece-blurb gv-main-column">
      The portraits of the Grenfell victims were elaborated over a period of eight months, primarily through interviews with friends and relatives who knew them well.
      Conscious of the anger of the Grenfell community at press coverage and the sensitivity of writing about people caught up in such a tragedy, we made careful approaches to the families of those involved. Some understandably did not wish to speak. In those cases, we have acknowledged the reluctance and kept our portraits short and factual.
      In most cases, families did want to speak fondly about their loved ones. These life stories are the result of those conversations.
    </div>
  </div>

  <div class="gren-related-wrapper gv-page-width">
    <div class="gv-main-column">
        <div class="section-header"><h2>Related content</h2></div>
        <div class="related-card__container">
        <div class="related-card related-card-main">
            <div class="related__one">
              <a href="{{related.url1}}">
                <div class="related__image"><img src="{{related.image1}}"/></div>
                <h3>{{related.headline1}}</h3>
              </a>
            </div>
        </div>
        <div class="related-card related-card-minor">
            <div class="related__two">
              <a href="{{related.url2}}">
                <div class="related__image"><img src="{{related.image2}}"/></div>
                <h4>{{related.headline2}}</h4>
              </a>
            </div>
        </div>
        <div class="related-card">
            <div class="related__three">
              <a href="{{related.url3}}">
                <div class="related__image"><img src="{{related.image2}}"/></div>
                <h4>{{related.headline2}}</h4>
              </a>
            </div>
        </div>
      </div>
    </div>
    <!-- <div class="related-2">{{related.headline2}} {related.image1}} {{related.url1}}</div>
    <div class="related-3">{{related.headline3}} {related.image1}} {{related.url1}}</div> -->
  </div>

</div>

<div class="bio-expand-all hide" id="expandAll"><span class="inline-plus inline-icon ">
<svg width="18" height="18" viewBox="0 0 18 18" class="inline-plus__svg inline-icon__svg rotate-minus-45">
<path d="M8.2 0h1.6l.4 7.8 7.8.4v1.6l-7.8.4-.4 7.8H8.2l-.4-7.8L0 9.8V8.2l7.8-.4.4-7.8z" fill="#FFF"></path>
</svg>
</span></div>


<div class="bio-expand-all hide-all hide" id="hideAll"><span class="inline-plus inline-icon ">
<svg width="18" height="18" viewBox="0 0 18 18" class="inline-plus__svg inline-icon__svg rotate-45">
<path d="M8.2 0h1.6l.4 7.8 7.8.4v1.6l-7.8.4-.4 7.8H8.2l-.4-7.8L0 9.8V8.2l7.8-.4.4-7.8z" fill="#FFF"></path>
</svg>
</span></div>
