<div class="page-wrapper gv-page-width">
  <div class="header-wrapper">
    <div class="gren-floors">
      {{#each floorsArr}}
      <div class="gren-floor floor-{{{floorNum}}}" style="width: calc(100% - {{{widthShim}}}px);" floor-ref="{{{floorNum}}}">
      </div>
      {{/each}}
    </div>
    <div class="gren-header-txt">
      <div class="gren-headline show-mobile" id="mobileHeadEl"></div>
      <div class="gren-headline show-desktop"></div>
      <div class="gren-standy" id="grenStandy">
        A memorial to the people killed in the Grenfell tower fire.
      </div>
    </div>
    <div class="header-share-container gv-desktop-show">
      <button class="interactive-share" data-network="facebook" data-shareurl="{{shareurl}}"></button>
      <button class="interactive-share" data-network="twitter" data-shareurl="{{shareurl}}"></button>
      <button class="interactive-share" data-network="email" data-shareurl="{{shareurl}}"></button>
    </div>
  </div>


  <div class="gren-list-wrapper gv-page-width">
    {{#each shortData}}
    <div class="gren-list-item gv-main-column list-item-short" key-ref="{{@key}}" data-name="{{name}}" >

      <div class="gv-inner-block">
        <button class='gren-collapse-button'><div class="gren-collapse-icon"></div></button>
        <div class="gren-list-name list-item-short-name" key-ref="{{@key}}">{{{name}}}</div>
        <div class="gren-list-biog short-biog" key-ref="{{@key}}">
          <div class="short-biog-insert">{{{shortBio}}}</div>
            <div class="short-bio-expand">
              <div class="short-bio-expand-btn" key-ref="{{@key}}">

                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
                      <g id="Page-1">
                          <polygon id="More" fill="#FFFFFF" points="8.236,9.764 8.507,16 9.477,16 9.764,9.764 16,9.478 16,8.507 9.764,8.236 9.477,2
                              8.507,2 8.236,8.236 2,8.507 2,9.478     "/>
                      </g>
                      </svg>
              </div>
              <p class="short-bio-copy">Full extract</p>
            </div>


          <div class="gren-long-biog-wrapper">

            <div class="gren-list-biog long-biog" key-ref="{{@key}}">
              <div class="biog-meta">
                <div class="biog-age">{{{Age}}} years old</div>
                <div class="biog-nationality">{{{Nationality}}}</div>
              </div>
              <div class="biog-pic"><img src="{{{grid_photo}}}" /></div>
              <div class='gren-longbio'>{{{bio}}}</div>
              <div class="biog-credit">{{{Credit}}}</div>
            </div>
          </div>


        </div>
      </div>
    </div>
  <!--<div class="gren-list-item gv-main-column list-item-long hide" key-ref="{{@key}}" data-name="{{name}}">
      <div class="gren-card__wrapper">
        <div class="gren-card__container">
          <div class="gren-list-name" key-ref="{{@key}}">{{{name}}}</div>

          <div class="gren-long-biog-wrapper">

              <div class="gren-list-biog long-biog" key-ref="{{@key}}">
                <div class="biog-meta">
                  <div class="biog-age">{{{Age}}} years old</div>
                  <div class="biog-nationality">{{{Nationality}}}</div>
                </div>
                <div class="biog-pic"><img src="{{{grid_photo}}}" /></div>
                <div class='gren-longbio'>{{{bio}}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
    {{/each}}

  </div>

</div>

<div class="bio-expand-all hide" id="expandAll"><span class="inline-plus inline-icon ">
<svg width="18" height="18" viewBox="0 0 18 18" class="inline-plus__svg inline-icon__svg rotate-minus-45">
<path d="M8.2 0h1.6l.4 7.8 7.8.4v1.6l-7.8.4-.4 7.8H8.2l-.4-7.8L0 9.8V8.2l7.8-.4.4-7.8z" fill="#FFF"></path>
</svg>
</span></div>


<div class="bio-expand-all hide-all hide" id="hideAll"><span class="inline-plus inline-icon ">
<svg width="18" height="18" viewBox="0 0 18 18" class="inline-plus__svg inline-icon__svg rotate-45">
<path d="M8.2 0h1.6l.4 7.8 7.8.4v1.6l-7.8.4-.4 7.8H8.2l-.4-7.8L0 9.8V8.2l7.8-.4.4-7.8z" fill="#FFF"></path>
</svg>
</span></div>
