.header-wrapper{
	position: relative;
	margin-left:10px;
	padding-top: 0;

	@include mq(leftCol){
		margin-left:170px;

	}

	@include mq(wide){
		margin-left:250px;
	}
}


.gren-floors{
	position: relative;
	width:130px;

	@include mq(desktop){
		width:230px;
	}
}

.gren-floor{
	position: relative;
	height:8px;
	margin-bottom:10px;
	background-color:white;
	visibility: hidden;

	@include mq(desktop){
		height:12px;
		margin-bottom:20px;
	}
	
	&:first-child{
		margin-left: 40px;
	}
}

.gren-header-txt{
	position:relative;

	@include mq(desktop){
		position: absolute;
		top: -5px;
		left: 330px;
	}

}

.gren-standy{
	font-family: 'Guardian Headline Full', Georgia, serif;
	font-size:20px;
	line-height: 24px;
	font-weight: 200;
	max-width: 300px;
	margin-bottom: 36px;
}

.floor-ani{
	visibility: visible;
	 -webkit-animation-name: white-to-black; /* Safari 4.0 - 8.0 */
	 -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: white-to-black;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	animation-fill-mode: forwards;
}


#Headline, #Headline_L, #of_Grenfell, #of_Grenfell_L, .gren-standy{

	 fill:$neutral-7;
		&.animated{
			-webkit-animation-name:  opacity-ani; /* Safari 4.0 - 8.0 */
			-webkit-animation-duration: 0.75s; /* Safari 4.0 - 8.0 */
			-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
			
		    animation-name:  opacity-ani;
		    animation-duration: 0.75s;
			animation-fill-mode: forwards;	
		}
}








