.gren-list-wrapper{
	position: relative;
	margin-left:10px;
	padding-top: 0;
	min-height: 500px;
	

	@include mq(leftCol){
		margin-left:170px;
	}

	@include mq(wide){
		margin-left:250px;
	}
}

.gren-list-item{
	position: relative;
	border-top: 1px solid rgba(#FFF,0);

	&:hover{
		border-top: 1px solid #000;
	}
}


.gren-list-name{
	font-family: 'Guardian Headline Full', Georgia, serif;
	font-size:18px;
	font-style: italic;
	line-height: 43px;
	font-weight: bold;
	visibility: hidden;
	cursor:pointer;
	color:white;

	&.animated{
		visibility:visible;
		 -webkit-animation-name: text-white-to-black; /* Safari 4.0 - 8.0 */
		 -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */ 
		 -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	    animation-name: text-white-to-black;
	    animation-duration: 1s;	   
		animation-fill-mode: forwards;
	}
}

.gren-list-biog{
	position:relative;
	max-width:300px;
	font-family: 'Guardian Text Egyptian Web', Georgia, serif;
	font-size:16px;
	line-height:22px;
	

	@include mq(desktop){
		position:absolute;
		top: 10px;
		left: 250px;
		max-width: 620px;
	}

	&.short{

	}
}

.short-bio-expand{
	display: inline-block;
	margin-left: 6px;
	border-radius: 100px;
	background-color: black;
	height:18px;
	width:18px;
}

.biog-pic{
	float: left;
	width: 86px;
	height: 86px;
	margin: 0 4px 0 0;
	border: 1px solid black;
	background-size: contain;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

	img{
		width:100%;
		height: 100%;
	}
}

.hide{
	display: none;
}

.show{
	display:block;
}

