.gren-list-wrapper{
	position: relative;
	padding-top: 0;
	min-height: 500px;
	margin-bottom:60px;

	&::before {
			content: '';
			display: block;
			height: 100%;
			width: 0;
			position: absolute;
			z-index: 1000;
			@include mq(tablet) {
					left: 40px;
					border-left: 1px solid $neutral-46;
			}
			@include mq(leftCol) {
					left: 170px;
					border-left: 1px solid $neutral-46;
					top: 0px;
			}
			@include mq(wide) {
				left: 250px;

			}
	}

}

.gren-itemwrapper {

	position: relative;

	&:before {

		opacity: 0.3;

		content: attr(data-floor);
		text-align: left;
		width: 100px;
		color: white;
		position: absolute;
		left: 0px;
		top: 0px;
		@include fs-textSans(3);
		margin: 0 10px;

    @include mq(phablet) {
        margin: 0 10px;
    }
		@include mq(desktop) {
				text-align: right;
    }

    @include mq(leftCol) {
				text-align: right;
        margin: 0 0 0 60px;
    }

    @include mq(wide) {
        margin: 0 0 0 140px;
    }
	}
}

.gren-list-item{
	position: relative;
	min-height:66px;
	visibility: hidden;
	opacity: 0;

	.short-bio-expand {
		opacity: 0;
	}

	&.animated{
		opacity: 0.5;
		visibility:visible;
		 -webkit-animation-name: opacity-5-1; /* Safari 4.0 - 8.0 */
		 -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
		 -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	    animation-name: opacity-5-1;
	    animation-duration: 2s;
		animation-fill-mode: forwards;
	}

	&.animation-done{
		visibility:visible;
		opacity: 0.3;
		transition: opacity 1.5s;
	}

	&.list-item-short{
		cursor:pointer;
	}

	&.animation-done.gren-list-item--hl {
			opacity: 1;
			transition: opacity .5s;


			// .list-item-short-name, .short-biog-insert {
			// 	-webkit-animation-name: name-fade; /* Safari 4.0 - 8.0 */
			//  	-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
			//  	-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
			// 	animation-name: name-fade;
			// 	animation-duration: 0.5s;
			// 	animation-fill-mode: forwards;
			// 	color: #ffffff;
			// }

			.short-bio-expand {
				-webkit-animation-name: opacity-0-1; /* Safari 4.0 - 8.0 */
				-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
				-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
				animation-name: opacity-0-1;
				animation-duration: 1s;
			 	animation-fill-mode: forwards;
			}
	}

	&.animation-done:hover {
		opacity: 1;
		transition: opacity .5s;
	}

	&.gren-list-item--expanded {
		opacity: 1;
		background: white;
		position: relative;

		.short-bio-expand, .short-biog-insert {
			display: none;
		}

		&::before {
			background-color: white;
			content: "";
			display: block;
			height: 100%;
			width: 200vw;
			left: -100vw;
			position: absolute;
			margin-top: -6px;
			padding-bottom: 6px;

		}

		.list-item-short-name{
				color: $neutral-7;
				font-weight: bold;
				display: block;
				position: relative;
				padding-top: 0px;
				@include mq(tablet){
					margin-left: 104px;
				}
		}

		.gren-collapse-button {
			display: block;
			position: absolute;
			right: 0px;
			top: -26px;
			z-index: 1000;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 1px solid $neutral-7;
		}

		.gren-collapse-icon {
			display: inline-flex;
			align-items: center;
	    border: 0;
			margin-top: 8px;
			right: 0px;
			z-index: 1000;

			background: url('<%= path %>/assets/close-button.svg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 16px;
			width: 16px;
		}

	}

}

.gren-collapse-button {
	display: none;
}

.gren-list-name, .gren-list-bio-head{
	font-family: 'Guardian Headline Full', Georgia, serif;
	font-size: 20px;
	line-height: 18px;
	font-weight: 200;
	font-weight: bold;

	@include mq(tablet){
		font-size:20px;
		line-height: 22px;
	}


	cursor:pointer;
	color:$neutral-7;

	margin: 0;
}


.list-item-short-name{
	color: $neutral-86;
	// &.animate-active{
	// 	color: $neutral-86;
	// 	visibility:visible;
	// 	 -webkit-animation-name: text-light-to-black; /* Safari 4.0 - 8.0 */
	// 	 -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
	// 	 -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	//     animation-name: text-light-to-black;
	//     animation-duration: 0.5s;
	// 	animation-fill-mode: forwards;
	// }
}

.gren-list-biog{
	position:relative;
	font-family: 'Guardian Text Egyptian Web', Georgia, serif;
	font-size: 16px;
  line-height: 18px;
	color:$neutral-100;

	&.short-biog{
		position:relative;
		margin-bottom:9px;
		color:$neutral-100;
		font-size: 14px;
		line-height: 18px;
		margin-top: 6px;
		margin-bottom: 52px;

		@include mq(desktop){
			font-size: 16px;
		}
	}

	&.long-biog{
    padding-bottom: 18px;
		min-height: 100px;
		font-size: 16px;
    line-height: 22px;
		color: #121212;

	}
}

.biog-meta, .biog-credit {
	font-family: $f-sans-serif-text;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 12px;

	& .biog-age {
		font-weight: bold;
	}
}

.biog-meta {
	@include mq(tablet){
		margin-left: 104px;
	}
}

.biog-credit {
	margin-top:10px;
}

.short-biog-insert{
	font-family: 'Guardian Headline Full', Georgia, serif;
	position: relative;
	color:$neutral-100;
	font-size: 18px;
	line-height: 22px;
	width: 100%;
	font-weight: 200;
		@include mq(mobileLandscape){

		}
		@include mq(tablet){
		}
		@include mq(desktop){
			margin-bottom: 0;
			font-size: 20px;
			line-height: 22px;
		}

}

.gren-longbio {
	@include mq(tablet){
		margin-top: 46px;
	}
}

.gren-long-biog-wrapper {
	position: relative;
	max-width: 790px;

	display: none;


	.gren-list-item--expanded & {
		display: block;

	}

}

.bio-expand-all{
	position: fixed;
    bottom: 18px;
    background-color: $neutral-7;
    right: 15px;
    height: 24px;
    padding: 8px 0 4px 9px;
    width: 96px;
    border-radius: 100px;
    font-family: $f-sans-serif-text;
    font-size: 13px;
    color: $neutral-7;
    border: 1px solid  $neutral-100;
    font-weight: light;
    cursor:pointer;

    &:after{
    	content:'show all';
    	position:absolute;
    	left:36px;
    	top:9px;
    }

    &.hide-all:after{
    	content:'hide all';
    }

    @include mq(tablet){
    	right: 20px;
    }
}

.rotate-45{
	-webkit-animation-name: icon-rotate; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
	-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	animation-name: icon-rotate;
	animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.rotate-minus-45{

	-webkit-animation-name: icon-anti-cw-rotate; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
	-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	animation-name: icon-anti-cw-rotate;
	animation-duration: 0.5s;
    animation-fill-mode: forwards;
}





.short-bio-expand{
	position: relative;
	display:block;
	background-color: $neutral-7;
	left: 0;
	bottom: 0px;
	margin-top: 12px;
	height: 1px;

	@include mq(desktop){
		bottom: 0;
	}
}

.short-bio-plus {
	display: inline-flex;
	align-items: center;
	z-index: 1000;
	left: 0px;
	background: url('<%= path %>/assets/plus.svg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 11px;
	width: 11px;
	margin-left: 4px;
	margin-top: 3px;
}

.short-bio-expand-btn {
	border-radius: 50%;
	border: 1px solid $neutral-46;
	background-color: $neutral-7;
	height:18px;
	width:18px;
	float: left;

	&.animate-active{
		// visibility:visible;
		//  -webkit-animation-name: bg-light-to-black; /* Safari 4.0 - 8.0 */
		//  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
		//  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
		// 	animation-name: bg-light-to-black;
		// 	animation-duration: 0.5s;
		// animation-fill-mode: forwards;
	}
}

.short-bio-copy {
	font-family: $f-sans-serif-text;
	font-size: 12px;
	color: $neutral-100;
	float: left;
	display: inline-block;
	padding-left: 6px;
	padding-top: 2px;
}

.biog-pic{
	position: relative;
	width: 96px;
	height: 96px;
	margin: 0 10px 0 0;
	padding-bottom: 3px;
	background-size: contain;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	float: left;

	img{
		width:100%;
		height: 100%;
		border: 1px solid $neutral-7;
	}

	@include mq(tablet){
		position: absolute;
		left: 0px;
		top: -28px;
	}
}

.gren-endpiece-blurb {
	color: $neutral-100;
}

.atom--snippet__handle, .atom--snippet__feedback .atom__button {
    background: #121212;
    color: #ffffff;
}

.atom--snippet__handle {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    padding: 0 15px 0 7px;
}

.atom--snippet__handle {
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.atom__button--rounded {
    border-radius: 100em;
}

.atom__button--large {
    height: 2.25em;
}



.atom__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    margin: 0;
}



.atom--snippet__handle .icon {
    fill: white;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.hide{
	display: none;
}

.show{
	display:block;
}
