.gren-list-wrapper{
	position: relative;
	padding-top: 0;
	min-height: 500px;
	margin-bottom:60px;
	padding-left: 10px;
	padding-right: 10px;


	&::before {
			content: '';
			display: block;
			height: 100%;
			width: 0;
			position: absolute;
			@include mq(leftCol) {
					left: -10px;
					border-right: 1px solid #ffffff;
					top: 10px;
			}
			@include mq(wide) {
			}
	}

	@include mq(desktop){
		margin-top: 0px;
	}

	@include mq(leftCol){
		margin-left:170px;
	}

	@include mq(wide){
		margin-left:250px;
	}
}

.gren-list-item{
	position: relative;
	min-height:66px;
	visibility: hidden;
	opacity: 0;


	&.animated{
		visibility:visible;
		 -webkit-animation-name: opacity-ani-fortypc; /* Safari 4.0 - 8.0 */
		 -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
		 -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	    animation-name: opacity-ani-fortypc;
	    animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	&.animation-done{
		visibility:visible;
		opacity: 1;
	}

	&.list-item-short{
		cursor:pointer;
	}

	&.list-item-long{
		// margin: 0 0 0 -10px;
	  //   padding-left: 10px;
	    //border-left: 1px solid white;
	}

}



.gren-list-name, .gren-list-bio-head{
	font-family: 'Guardian Headline Full', Georgia, serif;
	font-size:24px;
	line-height: 32px;

	cursor:pointer;
	color:$neutral-7;
	max-width: 240px;

	margin: 0;
}


.list-item-short-name{
	color: $neutral-86;
	&.animate-active{
		color: $neutral-86;
		visibility:visible;
		 -webkit-animation-name: text-light-to-black; /* Safari 4.0 - 8.0 */
		 -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
		 -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	    animation-name: text-light-to-black;
	    animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}
}

// .gren-list-bio-head{
// 	font-family: 'Guardian Headline Full', Georgia, serif;
// 	font-size:24px;
// 	font-style: italic;
// 	line-height: 28px;
// 	font-weight: bold;
// 	margin-bottom:6px;
// 	color:$neutral-7;
// }

.gren-list-biog{
	position:relative;
	width: calc(100% - 40px);
	font-family: 'Guardian Text Egyptian Web', Georgia, serif;
	font-size: 16px;
  line-height: 18px;
	color:$neutral-100;

	@include mq(mobileLandscape){
		max-width: 460px;
	}
	@include mq(tablet){
		width: 100%;
		max-width: 540px;
	}


	&.short-biog{
		position:relative;
		margin-bottom:9px;
		color:$neutral-100;
		font-size: 14px;
		line-height: 18px;
		margin-top: 6px;
		margin-bottom: 52px;

		@include mq(desktop){
			font-size: 16px;
		}
	}

	&.long-biog{
		margin-top: 6px;
    padding-bottom: 18px;
		min-height: 100px;
		font-size: 16px;
    line-height: 22px;
		color: #121212;

	}

	&.long-biog:before{
		// content:'';
		// position:absolute;
		// top:-5px;
		// left:0;
		// width: 100%;
		// height: 100%;

		// background-color: white;
		// border-top: 1px solid $neutral-7;
  //   	border-bottom: 1px solid $neutral-7;
		// z-index: -1;

		// @include mq(desktop){
		// 	width: calc(100% + 120px);
		// 	left: -120px;
		// }
	}
}

.short-biog-insert{
	position: relative;
	color:$neutral-7;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	width: calc(100% - 40px);
		@include mq(mobileLandscape){

			max-width: 460px;
		}
		@include mq(tablet){
			width: 100%;
			max-width: 620px;
		}
		@include mq(desktop){
			// position:absolute;
			// top: 0;
			// left: 250px;
			padding-top: 8px;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 22px;
		}





}

.gren-long-biog-wrapper{
	background-color: $neutral-100;
		@include mq(desktop){
		 	position: relative;
		 	left: 50%;
		 	width: 100vw;
		 	transform: translateX(-50%);
		 	margin-left: -133px;
	}

}
.gren-long-biog-card {
	@include mq(desktop){
		margin: 0 auto;
		max-width: 620px;
	}
}

.bio-expand-all{
	position: fixed;
    bottom: 18px;
    background-color: $neutral-7;
    right: 15px;
    height: 24px;
    padding: 8px 0 4px 9px;
    width: 96px;
    border-radius: 100px;
    font-family: $f-sans-serif-text;
    font-size: 13px;
    color: $neutral-7;
    background-color: $neutral-100;
    border: 1px solid  $neutral-100;
    font-weight: light;
    cursor:pointer;

    &:after{
    	content:'show all';
    	position:absolute;
    	left:36px;
    	top:9px;
    }

    &.hide-all:after{
    	content:'hide all';
    }

    @include mq(tablet){
    	right: 20px;
    	// top: 12px;
    }
}

.rotate-45{
	-webkit-animation-name: icon-rotate; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
	-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	animation-name: icon-rotate;
	animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.rotate-minus-45{

	-webkit-animation-name: icon-anti-cw-rotate; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
	-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	animation-name: icon-anti-cw-rotate;
	animation-duration: 0.5s;
    animation-fill-mode: forwards;
}





.short-bio-expand{
	position: absolute;
	margin-left: 6px;
	border-radius: 100px;
	background-color: $neutral-7;
	border: 1px solid $neutral-100;
	height:18px;
	width:18px;
	left: 0;
	bottom: -28px;

	@include mq(desktop){
		bottom: 0;
	}

	&.animate-active{
		visibility:visible;
		 -webkit-animation-name: bg-light-to-black; /* Safari 4.0 - 8.0 */
		 -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
		 -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
	    animation-name: bg-light-to-black;
	    animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}
}

.short-bio-copy {
	font-family: $f-sans-serif-text;
	font-size: 13px;
	color: $neutral-100;
}

.biog-pic{
	position: relative;
	width: 96px;
	height: 96px;
	margin: 0 10px 0 0;
	padding-bottom: 3px;
	background-size: contain;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	float: left;
    @include mq(desktop){
    	// position: absolute;
    	// left: -116px;
    	// top: 4px;
    }

	img{
		width:100%;
		height: 100%;
		border: 1px solid $neutral-7;
	}
}

.atom--snippet__handle, .atom--snippet__feedback .atom__button {
    background: #121212;
    color: #ffffff;
}

.atom--snippet__handle {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    padding: 0 15px 0 7px;
}

.atom--snippet__handle {
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.atom__button--rounded {
    border-radius: 100em;
}

.atom__button--large {
    height: 2.25em;
}



.atom__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    margin: 0;
}



.atom--snippet__handle .icon {
    fill: white;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.hide{
	display: none;
}

.show{
	display:block;
}
