@import "mq";
@import "fonts";
@import "palette";
@import "ani";
@import "header";
@import "list";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
html {
    background-color: #121212;
}

body {
  background-color: #121212;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
    overflow-x: hidden;
}


.gv-page-width {
        margin: 0 auto;
        @each $bp in (phablet,
        tablet,
        desktop,
        leftCol,
        wide) {
            @include mq($bp) {
                max-width: map-get($mq-breakpoints, $bp);
            }
        }
  }

  .page-wrapper {
      padding: 0 0 0 0;
      position: relative;
  }

  .gv-main-column {
    margin: 0 10px;
    max-width: 660px; // padding: 0 10px 20px 10px;
    @include mq(mobileLandscape) {
        margin: 0 10px;
    }

    @include mq(phablet) {
        margin: 0 10px;
    }

    @include mq(tablet) {
        margin: 0 50px;
    }

    @include mq(leftCol) {
        margin: 0 0 0 180px;
    }

    @include mq(wide) {
        margin: 0 0 0 260px;
    }
    .gv-main-column-left {
        @include mq(leftCol) {
        width: 160px;
        padding-left: 10px;
        float: left;
        }
    }

    .gv-main-column-right {
         @include mq(leftCol) {
        width: calc(100% - 170px);
        float: right;
        }
    }
}

.ghost-h1 {
    position: fixed;
    top: 3000px;
    left: -2000px;
}

.show-mobile {
    display: block;
    @include mq(tablet) {
        display: none;
    }
}

.show-desktop {
    display: none;
    @include mq(tablet) {
        display: block;
    }
}

.neutral-86 {
    fill: $neutral-86;
    color: $neutral-86;
}

.neutral-60 {
    fill: $neutral-60;
    color: $neutral-60;
}
