@import "mq";
@import "fonts";
@import "palette";

@-webkit-keyframes white-to-black {
          from {    background-color:white; }
          40%  {  background-color:white;}
          to   { background-color:black;}
      }

@keyframes white-to-black {
          from { background-color:white;}
          40%  { background-color:white; }
          to   {  background-color:black;}
      }

@-webkit-keyframes  opacity-ani {
          from {  opacity:0; animation-timing-function: ease-in;}
          
          to   { opacity:1; animation-timing-function: ease-out;}
      }

@keyframes opacity-ani {
          from { opacity:0; animation-timing-function: ease-in;}
         
          to   {  opacity:1; animation-timing-function: ease-out;}
      }


@-webkit-keyframes  opacity-ani-fortypc {
          from { opacity:0; animation-timing-function: ease-in;}
          40%  { opacity:1; animation-timing-function: ease-out;}
          to   { opacity:1; }
      }

@keyframes opacity-ani-fortypc {
          from { opacity:0; animation-timing-function: ease-in;}
          40%  { opacity:1; animation-timing-function: ease-out;}
          to   {  opacity:1; }
      }


@-webkit-keyframes text-white-to-black {
          from {    color:white; }         
          40%  {  color:white;}
          to   { color:black;}
      }

@keyframes  text-white-to-black {
          from { color:white;}
          40%  { color:white; }
          to   {  color:black;}
      }








@import "header";
@import "list";



// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";




.element-atom,
.interactive-atom {
    margin: 0 !important;
}


.page-wrapper {
    max-width: 1300px;
    background-color: #fff;
    margin: 80px auto 0;
    position: relative;

    @include mq(leftCol){
    	margin-top: 120px;
    }

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 0;
        position: absolute;

        @include mq(leftCol) {
            left: 160px;
            border-right: 1px solid #000 ; 
            top: 32px;

        }
        @include mq(wide) {
            left: 240px;
        }
    }
}

.show-mobile{
	display:block;

	@include mq(tablet){
		display: none;
	}
}

.show-desktop{
	display:none;

	@include mq(tablet){
		display: block;
	}
}
