@import "mq";
@import "fonts";
@import "palette";
@import "ani";
@import "header";
@import "list";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
html {
    background-color: #121212;
}

body {
  background-color: #121212;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
}


.page-wrapper {
    max-width: 1300px;
    margin: 0px auto;
    position: relative;
    @include mq(leftCol) {
        margin-top: 0px;
    }
}


.show-mobile {
    display: block;
    @include mq(tablet) {
        display: none;
    }
}

.show-desktop {
    display: none;
    @include mq(tablet) {
        display: block;
    }
}

.neutral-86 {
    fill: $neutral-86 !important;
    color: $neutral-86 !important;
}

.neutral-60 {
    fill: $neutral-60 !important;
    color: $neutral-60 !important;
}
